<igx-expansion-panel>
    <igx-expansion-panel-header>
        <igx-expansion-panel-title>
            Expandable Grids
        </igx-expansion-panel-title>
        <igx-expansion-panel-description>
            Show all header related grids
        </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
<div class="layout-box" igxLayout igxLayoutDir="row" igxLayoutWrap="wrap">
  <div class="layout-box__el wrap-row" igxFlex  igxFlexGrow="0">
   <app-grid1></app-grid1>
  </div>
  <div class="layout-box__el wrap-row" igxFlex igxFlexGrow="0">
      <app-grid2></app-grid2>
  </div>
</div>
    </igx-expansion-panel-body>
</igx-expansion-panel>
