<igx-expansion-panel (onExpanded)="handleExpansion($event)" (onCollapsed)="handleCollapse($event)">
  <igx-expansion-panel-header>
    <igx-expansion-panel-title>
      CDS Declaration Header
    </igx-expansion-panel-title>
    <igx-expansion-panel-description>
      {{expansionPanelDecription}}
    </igx-expansion-panel-description>
  </igx-expansion-panel-header>
  <igx-expansion-panel-body>
    <article class="sample-column">
      <div class="layout-sample">
        <div class="layout-box" igxLayout igxLayoutDir="column">
          <div class="layout-box__el" igxFlex igxFlexGrow="0">
            <app-declaration-type></app-declaration-type>
          </div>
          <div class="layout-box__el" igxFlex igxFlexGrow="0">
            <app-party></app-party>
          </div>
          <div class="layout-box__el" igxFlex igxFlexGrow="0">
            <app-party2></app-party2>
          </div>
        </div>

      <!-- Value buildup / Transport info section -->
      <div class="flex-container" style="margin-left: 15px;">
          <div class="transportInfoFlexItem" style="margin-bottom: 15px;">
            <app-transportdata></app-transportdata>
          </div>
          <div class="valueBuildUpFlexitem">
            <app-valuebuildup></app-valuebuildup>
          </div>
        </div>

      </div>
    </article>
  </igx-expansion-panel-body>
</igx-expansion-panel>
