:host {
  display: block;
  margin: 8px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .26), 0 2px 2px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .08);
}

igx-expansion-panel-body {
padding: 8px 16px;
}

.igx-expansion-panel__header-title {
  font-weight: 900;
  font-size: 1.00rem;
  letter-spacing: 0.00625rem;
  text-transform: none;
  line-height: 1.0rem;
  margin: 0;
}

.igx-expansion-panel__header-description {
  font-weight: 600;
  font-size: 0.875rem;
  letter-spacing: 0.00625rem;
  text-transform: none;
  line-height: 1.0rem;
  margin: 0;
}
