<igx-expansion-panel (onExpanded)="handleExpansion($event)" (onCollapsed)="handleCollapse($event)" id="panel-1">
    <igx-expansion-panel-header>
      <igx-expansion-panel-title>
        CDS Declaration Items
      </igx-expansion-panel-title>
      <igx-expansion-panel-description>
        {{expansionPanelDecription}}
      </igx-expansion-panel-description>
    </igx-expansion-panel-header>
    <igx-expansion-panel-body>
      <article >
        <div>
            <p>expanding-item works!</p>
        </div>
      </article>
    </igx-expansion-panel-body>
  </igx-expansion-panel>


