<article class="flex-column">
      <div class="layout-box" igxLayout igxLayoutJustify="space-between">
          <div class="layout-box__el" >
            <app-declaration-type-control></app-declaration-type-control>
          </div>
          <div class="layout-box__el">
            <app-badge-control></app-badge-control>
          </div>
          <div class="layout-box__el">
            <app-trader-ref></app-trader-ref>
          </div>
          <div class="layout-box__el">
            <app-acceptance-date></app-acceptance-date>
          </div>
      </div>
</article>

<!-- <div>
  <section>
    <article>
      <div class="layout-sample">
        <div igxLayout igxLayoutDir="row">
          <div igxFlex igxFlexGrow="1">
            <app-declaration-type-control></app-declaration-type-control>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-badge-control></app-badge-control>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-trader-ref></app-trader-ref>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-acceptance-date></app-acceptance-date>
          </div>
        </div>
      </div>
    </article>
  </section>
</div> -->

