<article class="sample-column">
  <div class="layout-sample">
    <div class="layout-sample">
      <div class="layout-box" igxLayout igxLayoutJustify="start">
          <div class="layout-box__el">Declaration Type</div>
          <div class="layout-box__el">Badge</div>
          <div class="layout-box__el">Trader Reference</div>
          <div class="layout-box__el">Acceptance Date</div>
      </div>
  </div>
  </div>
</article>

<!-- <div>
  <section>
    <article>
      <div class="layout-sample">
        <div igxLayout igxLayoutDir="row">
          <div igxFlex igxFlexGrow="1">
            <app-declaration-type-control></app-declaration-type-control>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-badge-control></app-badge-control>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-trader-ref></app-trader-ref>
          </div>
          <div igxFlex igxFlexGrow="1">
            <app-acceptance-date></app-acceptance-date>
          </div>
        </div>
      </div>
    </article>
  </section>
</div> -->

