<div class="grid__wrapper">
  <igx-grid #grid [data]="data" [primaryKey]="'Id'"  displayDensity="compact" width="100%" height="200px"
    [paging]="false" [allowFiltering]="false" (onGridKeydown)="customKeydown($event)" [rowEditable]="true" >
    <igx-column field="Code" header="Code" dataType="string" [sortable]="true">
      <ng-template igxCellEditor let-cell="cell">
          <input name="Code" [igxFocus]="true" [(ngModel)]="cell.editValue" [igxTextSelection]="true" />
      </ng-template>
  </igx-column>
  <igx-column field="Currency" header="Currency" dataType="string" [sortable]="true">
    <ng-template igxCellEditor let-cell="cell">
        <input name="Currency" [igxFocus]="true" [(ngModel)]="cell.editValue" [igxTextSelection]="true"  />
    </ng-template>
</igx-column>
<igx-column field="Amount" header="Amount" dataType="number" [sortable]="false">
  <ng-template igxCellEditor let-cell="cell">
      <input name="Number" [igxFocus]="true" [(ngModel)]="cell.editValue"
      [igxTextSelection]="true" />
  </ng-template>
</igx-column>
    <igx-column width="100px" [filterable]="false" [editable]="false">
      <ng-template igxCell let-cell="cell">
        <button igxButton="icon" (click)="removeRow(cell.cellID.rowID)" >
          <igx-icon>delete</igx-icon>
        </button>
      </ng-template>
    </igx-column>
  </igx-grid>
</div>
