
<div class="grid__wrapper">
  <app-grid-with-transactions>
      <igx-grid #gridRowEditTransaction [data]="data" [primaryKey]="'Id'" width="100%" height="200px"
          [rowEditable]="true" [allowFiltering]="true">
          <igx-column [pinned]="true" [filterable]="false" [editable]="false" width="100px">
              <ng-template igxCell let-cell="cell" let-val>
                  <button igxButton (click)="deleteRow(cell.cellID.rowID)" [disabled]="cell.row.deleted">Delete</button>
              </ng-template>
          </igx-column>
          <igx-column field="Id" header="#" [pinned]="true" [filterable]="false" width="50px"></igx-column>
          <igx-column field="Code" header="Code" dataType="string" [sortable]="false">
              <ng-template igxCellEditor let-cell="cell">
                  <input name="Code" [igxFocus]="true" [(ngModel)]="cell.editValue"
                      style="color: black; width: 30px;"  [igxTextSelection]="true"  />
              </ng-template>
          </igx-column>
          <igx-column field="Currency" header="Currency" dataType="string" [sortable]="false">
            <ng-template igxCellEditor let-cell="cell">
                <input name="Currency" [igxFocus]="true" [(ngModel)]="cell.editValue"
                    style="color: black; width: 30px;" [igxTextSelection]="true"/>
            </ng-template>
        </igx-column>
        <igx-column field="Amount" header="Amount" dataType="number" [sortable]="false">
          <ng-template igxCellEditor let-cell="cell">
              <input name="Number" [igxFocus]="true" [(ngModel)]="cell.editValue"
                  style="color: black; width: 30px;" [igxTextSelection]="true" />
          </ng-template>
      </igx-column>
      </igx-grid>
  </app-grid-with-transactions>
  <div class="buttons-row">
      <button igxButton (click)="addRow()">Add Row</button>
      <div class="buttons-wrapper">
          <button igxButton [disabled]="!undoEnabled" (click)="undo()">Undo</button>
          <button igxButton [disabled]="!redoEnabled" (click)="redo()">Redo</button>
          <button igxButton [disabled]="!hasTransactions" (click)="openCommitDialog()">Commit</button>
      </div>
  </div>
  <igx-dialog title="Submit the following transactions?">
      <igx-grid #dialogGrid [data]="transactionsData" [rowHeight]="64"
      [primaryKey]="'Id'" width="600px" height="300px" [emptyGridMessage]="'No available transactions'">
          <igx-column field="id" header="#" [dataType]="'string'" width="100px"></igx-column>
          <igx-column field="type" header="Type" width="150px" [sortable]="true">
              <ng-template igxCell let-cell="cell" let-val>
                  <span [class]="classFromType(val)">{{ typeFormatter(val) }}</span>
              </ng-template>
          </igx-column>
          <igx-column field="newValue" header="Value" width="900px">
              <ng-template igxCell let-cell="cell" let-val>
                  <span class="transaction-log">{{ stateFormatter(val) }}</span>
              </ng-template>
          </igx-column>
      </igx-grid>
      <div class="buttons-wrapper">
          <button igxButton (click)="commit()">Commit</button>
          <button igxButton (click)="discard()">Discard</button>
          <button igxButton (click)="cancel()">Cancel</button>
      </div>
  </igx-dialog>
</div>
