<article class="sample-column">
  <div class="layout-box" igxLayout igxLayoutJustify="space-between">
    <div class="layout-box__el">
      <app-party-control [partyType]="importerPartyType" [partyTypeDescription]="importerDescription" [shortCodeLabel]="importerPartyLable"></app-party-control>
    </div>
    <div class="layout-box__el">
      <app-party-control [partyType]="exporterPartyType" [partyTypeDescription]="exporterDescription" [shortCodeLabel]="exporterPartyLable"></app-party-control>
    </div>
    <div class="layout-box__el">
      <app-party-control [partyType]="declarantPartyType" [partyTypeDescription]="declarantDescription" [shortCodeLabel]="declarantPartyLable"></app-party-control>
    </div>
  </div>
</article>
