<article class="sample-column">
  <div class="layout-box" igxLayout igxLayoutJustify="space-between">
    <div class="layout-box__el">
      <app-party-control [partyType]="importerPartyType" [partyTypeDescription]="importerDescription"></app-party-control>
    </div>
    <div class="layout-box__el">
      <app-party-control [partyType]="exporterPartyType" [partyTypeDescription]="exporterDescription"></app-party-control>
    </div>
    <div class="layout-box__el">
      <app-party-control [partyType]="declarantPartyType" [partyTypeDescription]="declarantDescription"></app-party-control>
    </div>
  </div>
</article>
