<article class="sample-column">
    <div class="layout-box" igxLayout igxLayoutJustify="space-between">
      <div class="layout-box__el">
        <app-party-control [partyType]="sellerPartyType" [partyTypeDescription]="sellerDescription"></app-party-control>
      </div>
      <div class="layout-box__el">
        <app-party-control [partyType]="buyerPartyType" [partyTypeDescription]="buyerDescription"></app-party-control>
      </div>
      <div class="layout-box__el">
        <app-party-control [partyType]="representitivePartyType" [partyTypeDescription]="represetnitiveDescription"></app-party-control>
      </div>
    </div>
  </article>
