// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);


/* autoprefixer grid: on */
html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    overflow-y:auto;
    max-height: 100vh;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fdf8f0;
    }
    100% {
        background: #f6e7ec;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.headerAlignSyle {
    text-align: right !important;
}

 $green-palette: igx-palette($primary: #09f,$secondary: #72da67, $surface: #333);

/* .dark-theme {
    background: #333;
    color: #fff;
    @include igx-dark-theme($green-palette);
} */


$black: black;
$blue: #61AEDB;

$custom-palette: igx-palette($primary: $blue, $secondary: $black);

$text-color: igx-color($custom-palette, "secondary", 400);
$border-color:  igx-color($custom-palette, "secondary", 900);
$background-color: #91CEFB27;

$input-group-theme: igx-input-group-theme(
  $palette: $custom-palette,
  $filled-text-color: $text-color,
  $focused-text-color: $text-color,
  $idle-text-color: $text-color,
  $idle-bottom-line-color: $border-color,
  $focused-bottom-line-color: $border-color,
  $interim-bottom-line-color: $border-color,
  $hover-bottom-line-color: $border-color,
  $box-background: $background-color
);

@include igx-input-group($input-group-theme);

igx-input-group {
  font-size: 14px;
}



