.parent {
}

.inline-block-child {
  display: inline-block;
}

.child {
  margin: 8px;
}

 .representation {
 // padding-right: 180px;
}

.destinationCountry {
//  padding-right: 180px;
}

.deliveryTermsUnLoCode {
}

.deliveryTermsUnLocation {
  width: 50%;
  margin-left: 200PX;
}

.totalInvoiceCurrency {
}

.totalInvoiceAmount {
  margin-left: 8px;
}

.exchangeRate {
margin-left: 63px;
float: right;
}

.goodsLocation {
  width: 56%;
}

.secondDeferment {
  float: right;
 // padding-right: 180px;
}

.warehouseHouse {
  width: 56%;
}

.site {
  float: right;
 // padding-right: 180px;
}

.supervisingOfice {

}

.grossMass  {
  float: right;
}

.presentationOffice {

}

