<div class="title border">Value Build Up / Additions and Deductions</div>
<div class="title"></div>

<div class='child inline-block-child'>
  <app-dropdown [placeHolder]='apportionedBy'></app-dropdown>
</div>
<div>
  <div class="tall" igxLayout igxLayoutItemAlign="flex-start">
    <div class="layout-box__el" igxFlex igxFlexGrow="0">
      <app-input class="apportionedBy" [placeHolder]='airportOfLoading'></app-input>
    </div>
  </div>
<div style="margin-left: 8px;">
  <div class="layout-box" igxLayout igxLayoutDir="row" style="margin-left: 200px;">
    <div class="layout-box__el" igxFlex igxFlexGrow="1">1</div>
    <div class="layout-box__el" igxFlex igxFlexGrow="1">2</div>
    <div class="layout-box__el" igxFlex igxFlexGrow="1">3</div>
</div>
</div>
</div>
