.title {
  text-align:center;
  color: black;
}

.border {
  border: darkgrey 2px solid;
  border-radius: 10px;
  background-color: #e41c77;;
}

.parent {
}

.inline-block-child {
  display: inline-block;
}

.child {
  margin: 8px;
}

