<div class="title border">Value Build Up</div>
<div class="title"></div>

  <div class='child inline-block-child'>
    <igx-input-group type="border" [igxToggleAction]="dropdown">
      <input #input class="input" name="dropdown" type="text" igxInput [igxDropDownItemNavigation]="dropdown"
      readonly= "true"
      [value]="dropdown.selectedItem?.value"
      (keydown.ArrowDown)="openDropDown()"/>
      <label igxLabel for="dropdown">{{apportionedBy}}</label>
      <igx-drop-down #dropdown [width]="'160px'">
        <igx-drop-down-item *ngFor="let item of items" [value]="item.field">
            {{ item.field }}
        </igx-drop-down-item>
    </igx-drop-down>
    </igx-input-group>
  </div>
<div class='parent'>
  <div class='child inline-block-child'>
    <app-input class="apportionedBy" [placeHolder]='airportOfLoading'></app-input>
  </div>
</div>

