.title {
  text-align:center;
  color: black;
}

.border {
  border: darkgrey 2px solid;
  border-radius: 10px;
  background-color: #e41c77;;
}

.parent {
}

.inline-block-child {
  display: inline-block;
}

.child {
  margin: 8px;
}

.layout-box__el {
  height: 48px;
  padding: 8px;
  color: black;
}

.light {
  font-weight: 400;
}

.wrap-row {
  width: calc(50% - 16px);
}

.wrap-column {
  height: calc(50% - 16px);
}

