.container {
  border: 1px black solid;
  border-radius: 3px;
}

.layout-box {
  width: 100%;
  height: 100%;
  background: #e0e0e0;
  padding: 2px;
}

.layout-box__el {
  height: 48px;
  padding: 4px;
  margin: 4px;
  color: white;
}

.tall {
  height: 300px;
}

.light {
  font-weight: 400;
}

.wrap-row {
  width: calc(50% - 16px);
}

.wrap-column {
  height: calc(50% - 16px);
}

  igx-input-group {
    font-size: 14px;
    width: 150px;
  }
